<h1>{{appTitle}} 🚀</h1>


<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../images/Flowers cup-cake.jpeg" class="d-block w-100" alt="cup-cake">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../images/Green flower.jpeg" class="d-block w-100" alt="green-flower">
    </div>
    <div class="carousel-item">
      <img src="../images/Flowers mooncakes.jpeg" class="d-block w-100" alt="flower-mooncake">
    </div>
  </div>
  

