<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>

  <body>
    
<header id="headerLayout" >
  <img class="icon" src="/images/logo.jpeg">
  <ul class="nav justify-content-end">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="dark" onclick="myFunction()"><img class="darkIcon" src="/images/light1.png" alt=""></button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navbarNav">
           
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/login">Login</a>
            </li>
            <li class="nav-item">
               <form method="POST" action="/logout">
               <button class="nav-link ">Logout</button>
            </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

</header>
<br>
 {{{body}}}

 <br>
<section class="u-clearfix u-container-align-center u-section-7" id="carousel_a00e">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
          <div class="u-container-layout u-container-layout-1"></div>        
          <div class="u-expanded-width-sm u-expanded-width-xs u-list u-list-1" >
    
          <div class="u-repeater u-repeater-1">
          
            <div class="u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-container-style u-list-item u-repeater-item">
              
                <h5 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-item u-text u-text-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">F​ind Us</h5>
                <p class=class="details"> 03 Banana Sreet, 11 Cherry, Netherlands, Apeldoorn 52-192440
                </p>
              </div>
            </div>
            
            <div class="u-container-align-center-xs u-container-style u-list-item u-repeater-item">
              
                <h5 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-item u-text u-text-5" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Hours</h5>
                
                <p class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-item u-text u-text-6">
                  <span  class="details"> Monday – Saturday </span>
                  <br>9am – 7pm<br>
                  <br>
                  <span  class="details">Sunday </span>
                  <br>10am – 6pm<br>
                  <span  class="details">Sunday </span>
                  <br>10am – 6pm<br>
                  <h5 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-item u-text u-text-5" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Instagram</h5>
                  
                  <button type="button" class="btn btn-outline-secondary"  onclick="window.location.href='http://instagram.com/che.bana?igshid=YjNmNgq3mdy='">Che.bana</button>
                  <h9>(Come follow us!)</h9>
                </p>
          
      </div>
    </div>
  </div>
</section>
<br>

    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-3c4e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">@2023. Copyright: CD Bakery.</p>
      </div>
    </footer>
  
  <script> function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
   }

  </script>
  <script src="/js/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous">
  </script>
 </body>

</html>