<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
<header>
  
 
</header>


<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/signup">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
     <form method="POST" action="/logout">
        <button>Logout</button>
      </form>
  </li>
</ul>
          <nav>
            <a href="/signup">Register</a>
            <a href="/login">Login</a>
            <form method="POST" action="/logout">
               <button>Logout</button>
            </form>
          </nav>
</header>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>