<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
<header>
 <div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4"><a href="/"></a>Home</h5>
    <h5 class="text-white h4"><a href="./products"></a>Gallery</h5>
    <h5 class="text-white h4"><a href="./products/new-products.hbs"></a>Make you own</h5>
    <span class="text-body-secondary">Toggleable via the navbar brand.</span>
  </div>
 </div>
 <nav class="navbar navbar-dark bg-dark">
   <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   </div>
  </nav>
</header>


<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/signup">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
     <form method="POST" action="/logout">
        <button>Logout</button>
      </form>
  </li>
</ul>
         <nav>
            <a href="/signup">Register</a>
            <a href="/login">Login</a>
            <form method="POST" action="/logout">
               <button>Logout</button>
            </form>

         </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>