#shopTitle {
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 2000px;
}
#carousel_28a9 {
  text-align: center;
}
#EnD {
  background-color: lightblue;
  text-align: center;
  letter-spacing: 2px;
  margin: 2px 20px 15px;
  padding: 3px 35px 7px;
}
#galleryIam {
  width: 900px;
}
