#shopTitle {
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 2000px;
}
#carousel_28a9 {
  text-align: center;
 
  
}
#EnD {
  background-color: lightblue;
  text-align: center;
  letter-spacing: 2px;
  margin: 2px 2px 15px;
  padding: 9px 35px 7px;
}
#galleryIam {
  width: 800px;
 
}
#DD {
  background-color: hotpink;
  text-align: center;
  letter-spacing: 2px;
  margin: 2px 100px 15px;
  padding: 9px 25px 7px;
}
/* #order {
  margin: 19px 160px 6px;
  padding: 10px 10px 10px;
} */
/* .card-body {
  display: flex;

