#shopTitle {
  text-align: center;
}
#carousel_28a9 {
  text-align: center;
}
#EnD {
  background-color: lightblue;
  text-align: center;
  letter-spacing: 2px;
  margin: 2px 20px 15px;
  padding: 3px 35px 7px;
}
